<head>
  <link rel="stylesheet" href="aboutus.css">
</head>

<nav id="navbar">
  <a id="navbar-title" href = "./catalog"><h1 > Quilliam McFancy's</h1></a>
  <a id="aboutUs" href="/aboutus">About Us </a>
  <a id="pastries" href="/pastries">Pastries</a>
  <a id="drinks" href="/drinks">Drinks</a>
  <a id="drinks" href="/textyourself">Text The Menu To Yourself</a>
  <a id="visitUs" href="#"> Visit Us</a>
  <a id="contactUs" href="#">Contact Us</a>
</nav>

<div id="aboutUs-box">

<h1 id="headline-title"> We Aout That Business</h1>

</div>
