
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="catalog.css">
  </head>
  <body>

    <%=yield %>

    <div id ="catalog-grid">
      <div id ="cookies-box">
        <h2 id ="cookies-title">Cookies</h2>
      </div>
      <div id ="cakes-box">
        <h2 id ="cakes-title">Cakes</h2>
      </div>
      <div id ="muffins-box">
        <h2 id ="muffins-title">Muffin</h2>
      </div>

    </div>

  </body>
</html>
