
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="catalog.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

  </head>
  <body>

    <%=yield %>

    <nav id="navbar">
      <h1 id="navbar-title"> Quilliam McFancy's</h1>
      <a href="#">About Us </a>
      <a href="#">Pastries</a>
      <!-- has grid list of all pastries with a cakes section, cookies section and muffins <section>
        can choose from a side menu which section you want to go to on the page.
        when item is clicked it lists the ingredients of that item.
        the goal is for each item to have a
      </section> -->
      <a href="#">Drinks</a>
       <!-- <button type="button" name="pastry-dropdown">Pastries</button> -->
       <!-- <span id="pastry-dropdown-icon">
         <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 12 7.4">
        <path fill="inherit" d="M1.4,0L6,4.6L10.6,0L12,1.4l-6,6l-6-6L1.4,0z"></path>
      </svg>
    </span> -->
    <a href="#"> Visit Us</a>
    <a href="#">Contact Us</a>



    </nav>

    <div id ="catalog-grid">

      <div id ="catalog-cakes-box">
        <h2 id ="catalog-cakes-title">Cakes</h2>
      </div>

      <div id ="catalog-cookies-box">
        <h2 id ="catalog-cookies-title">Cookies</h2>
      </div>

      <div id ="catalog-muffins-box">
        <h2 id ="catalog-muffins-title">Muffins</h2>
      </div>

    </div>

    <div id="visitContact-grid">
      <div id="visit-box">
        <h2>Visit Us</h2>
      </div>
      <div id="aboutUs-box">
        <h2>About Us</h2>
      </div>

    </div>

  </body>
</html>
