<head>


<link rel="stylesheet" href="drinks.css">
</head>

<nav id="navbar">
  <a id="navbar-title" href = "./catalog"><h1 > Quilliam McFancy's</h1></a>
  <a id="aboutUs" href="#">About Us </a>
  <a id="pastries" href="/pastries">Pastries</a>
  <a id="drinks" href="/drinks">Drinks</a>
  <a id="drinks" href="/textyourself">Text The Menu To Yourself</a>
  <a id="visitUs" href="#"> Visit Us</a>
  <a id="contactUs" href="#">Contact Us</a>
</nav>


<div id="drinks-grid">

  <div id="good-water">
    <h1 id = "good-water-title">Qute water</h1>
    <h2>$1</h2>
  </div>
  <div id="good-water-img">
  </div>


  <div id="better-water-img">
  </div>
  <div id="better-water">
    <h1 id = "better-water-title">Big Quillin' Water</h1>
    <h2>$10</h2>
  </div>

  <div id="best-water">
    <h1 id = "good-water-title">High Quility Water</h1>
    <h2>$100</h2>
  </div>
  <div id="best-water-img">

  </div>

</div>
