
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<title>Q.McFancy</title>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" media="screen and (max-width: 375px)" href="main-mobile.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
  <body>

    <div id="headline">

      <h1 id="headline-title"> Quilliam McFancy's</h1>
      <a id = "headline-clicklink" href="./catalog">
        <h2 id = "headline-click">Enter</h2>
        </a>
  </div>

  <script src="main.js" charset="utf-8"></script>
  </body>
