
<head>
<meta charset="utf-8">
<title>Q.McFancy</title>
<link rel="stylesheet" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
  <body>

    <div id="headline">

      <h1 id="headline--title"> Quilliam McFancy's</h1>
      <a id = "headline--clicklink" href="./catalogs">
        <h2 id = "headline--click"> Click to Enter</h2>
        </a>
  </div>

  <script src="main.js" charset="utf-8"></script>
  </body>
</html>
