
<head>
<meta charset="utf-8">
<title>Q.McFancy's</title>
<link rel="stylesheet" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
  <body>

    <div id="headline">

      <h1 id = "headline--title"> Quilliam McFancy's</h1>

      <!-- <img class="headline--bgimg1" src="https://www.oliversmarket.com/wp-content/uploads/2016/10/FIXED-Bakery-Desserts-1.jpg" /> -->
      <!-- <img class="top" src="/images/Turtle.jpg" /> -->
  </div>

  <script src="main.js" charset="utf-8"></script>
  </body>
</html>
