<head>
  <link rel="stylesheet" href="pastries.css">
</head>

<nav id="navbar">
  <a id="navbar-title" href = "./catalog"><h1 > Quilliam McFancy's</h1></a>
  <a id="aboutUs" href="#">About Us </a>
  <a id="pastries" href="/pastries">Pastries</a>
  <a id="drinks" href="/drinks">Drinks</a>
  <a id="drinks" href="/textyourself">Text The Menu To Yourself</a>
  <a id="visitUs" href="#"> Visit Us</a>
  <a id="contactUs" href="#">Contact Us</a>
</nav>

<div id="pastries-grid">
  <h1>Cakes</h1>
  <div id = "cakes-box">
    <h1> <%=@pineapple_showpiece.name%></h1>


  </div>
</div>
