<head>
  <link rel="stylesheet" href="textyourself.css">
</head>
<a id="headline-link" href = "/catalog"><h1 id="headline-title"> Quilliam McFancy's</h1></a>
<div id ="text-box">


  <h1 id =form-title>Text Yourself The Menu</h1>
<form action="/textyourself" method="POST">
  <!-- <label >Enter Phone Number</label><br> -->
  <input id="input-phone" type="text" name="phone-number" placeholder="Enter Phone Number (2345678902)"><br>
  <input id="input-submit" type="submit" name="phone-number-submit" value="Submit">
</form>

</div>
