<%=yield%>



<h1>The menu has been sent</h1>

<a href="./catalog"><button>Go back to Home</button></a>


<style media="screen">
  body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #eee;
  }
</style>
