<%=yield%>

<%# <%=@number%> %>

<h1>Your number has been sumbitted</h1>

<a href="./catalog"><button>Go back to Home</button></a>


<style media="screen">
  body {
  text-align: center;
  color: #eee;
  }
</style>
