@media only screen and (max-width:375px) {
  #headline--title{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    width: 56%;
    color: #eee;
    padding: 2%;
    font-size: 6vh;
    z-index: 2;
    margin: 27vh auto;

    border: 10px solid #eee;

    transition: 0.5s;
    }

  #headline--click {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 20%;
    color: #eee;
    padding: 4%;
    font-size: 4vh;
    z-index: 2;
    margin: 0vh auto;

    border: 2px solid #eee;
    top: -24vh;

    transition: 0.5s;
  }

}
